{% extends 'base.html.twig' %}

{% block body %}
<div class="min-h-screen bg-white flex items-center justify-center p-4">
    <div class="w-full max-w-4xl bg-white border border-[#E3E3E3] rounded-xl shadow-sm p-12">

        <h1 class="text-[#1F384C] text-2xl font-bold mb-2">Horaires de l'entreprise</h1>
        <h2 class="text-[#000000] text-lg font-semibold mb-10">Modification des horaires</h2>

        {{ form_start(scheduleForm, { attr: { id: 'schedule_form_edit'} }) }}
            {{ include("form/form_schedule.html.twig") }}
        {{ form_end(scheduleForm) }}

        <div class="flex flex-row justify-between items-center mt-12 gap-6">

            <a href="{{ path('app_schedule') }}"
            class="btn border-none bg-[#B4B4B4] hover:bg-gray-400 text-white flex-1 h-12 rounded-xl normal-case text-base font-medium shadow-none flex items-center justify-center">
                Retour
            </a>

            <form method="post" action="{{ path('app_schedule_delete', {'id': schedule.id}) }}" onsubmit="return confirm('Supprimer ce créneau ?');" class="flex-1">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_schedule') }}">
                <button type="submit" class="btn border-none bg-[#FF0000] hover:bg-[#CC0000] text-white w-full h-12 rounded-xl normal-case font-medium">
                    Supprimer
                </button>
            </form>

            <button type="submit" form="schedule_form_edit"
                    class="btn border-none bg-[#2A7DE3] hover:bg-[#18355F] text-white flex-1 h-12 rounded-xl normal-case font-medium">
                Modifier
            </button>

        </div>
    </div>
</div>
{% endblock %}
